[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
neovim = "*"

[packages]
colorlog = "*"
gevent = "*"
msgpack-python = "*"
pygit2 = "<0.27.0,>0.26.0"
requests = "*"
raven = "*"
websocket-client = "*"
arrow = "*"
dnspython = "*"
mypy-extensions = "*"
typing-extensions = "*"
dataclasses = "*"

[requires]
python_version = "3.6"
